#q_1540575394026_951-canyoniFramediv {
  .content {
    height: auto !important;
    width: auto !important;
  }
  
  .stageContainer .content {
    margin-top: 60px;
  }
  
  .stageContainer {
    width: 100% !important;
    height: calc(100% - 60px) !important;
    margin-top: 60px;
  }
  
  iframe {
    width: 100%;
  }
  
}
