@import url('https://fonts.googleapis.com/css?family=Kalam:400,700');

/*Need Visual*/
.headerContainer {
    background: #CC0000;
}


.content span .fontKalam400 {
  font-family: 'Kalam', cursive !important;
  font-weight: 400 !important;
}

.fontKalam700 {
  font-family: 'Kalam' !important;
  font-weight: 700 !important;
}
