@import url('https://fonts.googleapis.com/css?family=Kalam:400,700');

.fontKalam400 {
  font-family: 'Kalam', cursive;
  font-weight: 400;
}

.fontKalam700 {
  font-family: 'Kalam', cursive;
  font-weight: 700;
}
