@import url('https://fonts.googleapis.com/css?family=Kalam:400,700');

/*Need Visual*/
.headerContainer {
    background: #CC0000;
}


.fontKalam400 p span {
  font-family: 'Kalam', cursive !important;
  font-weight: 400 !important;
  line-height: 1.5rem !important;
  font-size: 19px !important;
}

.fontKalam400 p span em {
  font-family: 'Kalam', cursive !important;
  font-weight: 400 !important;
  line-height: 1.5rem !important;
  font-size: 19px !important;
}

.fontKalam700 p {
  font-family: 'Kalam' !important;
  font-weight: 700 !important;
  font-size: 100rem;
  background: orange;
}
