.redSquare {
    -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Safari 3-8 */
    transform: rotate(40deg);
}


/* Can html content off SS Canvas be targeted with CSS?*/


/* Color of Progress Button */

.checkContainer .checkBtn {
    background-color: #CC0000 !important;
}

/* Color of Header Bar */

.headerContainer {
    background: #CC0000;
}

/* Color of Header Bar Text */

.headerContainer .lessonTitle {
    color: #FFF;
}

/* Color of Score Text */

.theme-header-score__icon {
    color: #FFF;
    /* replace background with light version of star */
    background: url(https://style.smartsparrow.com/default-viewer-themes/1.9.1/assets/icon-star-light.svg);
}
    
.theme-header-score__label {
    color: #FFF;
}

.theme-header-score__value {
    color: #FFF;
}


/* Color of Check Buttons active and hover */
.checkContainer .checkBtn:focus, .checkContainer .closeFeedbackBtn:focus, .checkContainer .showSolnBtn:focus, .checkContainer .checkBtn:hover, .checkContainer .closeFeedbackBtn:hover, .checkContainer .showSolnBtn:hover, .checkContainer .checkBtn:active, .checkContainer .closeFeedbackBtn:active, .checkContainer .showSolnBtn:active 
{
    background: #990000 !important;
}


/* Crop content to stage edge */

.content {
    overflow: hidden;
}

.blueBtn {
    background: rgba(0,128,255,.7);
    -ms-transform: rotate(70deg); /* IE 9 */
    -webkit-transform: rotate(70deg); /* Safari 3-8 */
    transform: rotate(70deg);
}

.blueBtn .button {
    -ms-transform: rotate(100deg); /* IE 9 */
    -webkit-transform: rotate(100deg); /* Safari 3-8 */
    transform: rotate(1000deg);
}

.blueBtn #scene_Student {
    width: 1rem;
}


/*
.thumbnailBtn {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}*/

.thumbnailBtn {
    box-shadow: 0 24px 38px 3px rgba(0,0,0,0.13), 0 9px 46px 1px rgba(0,0,0,0.12), 0 11px 15px -10px rgba(0,0,0,0.1);
}